



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html{
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  background: linear-gradient(-135deg,#0d6d00, #ebee3a);
  /* background: linear-gradient(-135deg,#0f0f0f, #08420b); */
  background-size: contain;
  overflow: auto;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.card{
  overflow: auto;
}

.pos-right{
  position: static;
  top: 0;
  right: 0;
}

.text-sm{
  font-size: 20px !important;
}

/*//////////////////////////////////////////////////////////////////
[ Scrollbar ]*/

::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #88888831;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888888a;
}

::-webkit-scrollbar-horizontal {
  height: 10px;
}

::-webkit-scrollbar-track-horizontal {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb-horizontal {
  background: #8888887c;
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background: #888888;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: -webkit-linear-gradient(-135deg,#2fc41c, #ffffff);
  background: -o-linear-gradient(-135deg,#2fc41c, #ffffff);
  background: -moz-linear-gradient(-135deg,#2fc41c, #ffffff);
  background: linear-gradient(-135deg,#0d6d00, #ebee3a);
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

/*//////////////////////////////////////////////////////////////////
[ signup ]*/

.wrap-signup100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  padding: 100px 130px 33px 95px;
}

.form_section1{
  width: 46%;
  min-width: 300px;
}

.wrap-form-signup100{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.signup-input-container{
  margin-bottom: 20px;
}
.form-check{
  margin: 0px 10px;
}

.form-check-label{
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666b0;
  margin-left: 20px;
}

.form-check-input{
  margin-left: 50px;
  margin-right: 10px;
}

.form-radio-text{
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #5e5e5ea2;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  margin-left: 30px;
}

.wrap-input100-radio{
  display: flex;
  flex-direction: column;
  background-color: #6666661f;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.input-text{
  margin-left: 10px;
  max-width: 200px;
  overflow: hidden;
}

.wrap-input100-date{
  display: flex;
  flex-direction: column;
  background-color: #6666661f;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-date-input{
  background: none;
  font-family: Poppins-Medium;
  font-size: 15px;
  margin-left: 50px;
  margin-right: 50px;
  color: #666666;
}

/*//////////////////////////////////////////////////////////////////
[ main-dir ]*/

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 10px 20px;
}

.logo-header{
  display: flex;
  justify-content: center;
  margin-left: 40px;
  width: 100%;
}

.logo-header a{
  display: flex;
  transition: .3s;
  color: white;
  width: min-content;
  align-items: center;
}

.logo-header img{
  max-width: 70px;
}

.logo-header a:hover{
  color: #00000056;
}

.user-menu{
  padding: 10px 20px;
}

.user-menu a{
  font-size: 40px;
  color: #ffffff;
  transition: .3s;
}

.user-menu a:hover{
  color: #052900;
}

.user-if{
  padding-top: 10%;
}

.user-if .opt-dir-container{
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.281);
  max-height: 600px;
}

.opt-dir-container .dir{
  max-height: 300px;
  overflow: auto;
}

.mensaje {
  text-align: center;
}

.mensaje h6{
  font-weight: 300;
  color: #999999;
}

.list-group-item{
  text-align: center;
}

.icon-header{
  font-size: 85px;
}

.icon-header img{
  max-width: 200px;
}

.options{
  display: flex;
  flex-wrap: wrap; 
  max-height: 600px; 
  overflow-y: auto; 
  text-align: center;
}

.card-item{
  width: min-content;
}

.card-item .card-img-top{
  width: max-content;
}

.card-item .card-body{
  max-height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item .img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  font-size: 25px;
  position: relative;
  overflow: hidden;
}

.card-item .img-container img {
  transition: transform 0.3s ease-in-out;
}

.card-item .img-container:hover img {
  transform: scale(1.1);
}

.card-item .img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.425);
  color: #ffffff;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.elipsis{
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  opacity: 0;
  border-radius: 5px;
  background-color: #666666a4;
  color: #ffffff;
  transition: opacity 0.3s ease-in-out;
}

.elipsis:hover a,.elipsis:hover{
  opacity: 1;
  cursor: pointer;
  color: #ffffff;
}

.card-item .icon-only {
  background-color: #ffffff;
  color: #858585;
  transition: 0.3s;
}

.card-item .icon-only:hover {
  background-color: #57b846;
  color: #ffffff;
}

.card-item .icon-only:hover .hr-line {
  border-color: #ffffff;
}

.hr-line {
  border: none;
  border-top: 1px solid #85858546;
  margin: 10px 0;
  transition: 0.3s;
}

.card-item .img-container:hover .overlay {
  opacity: 1;
}

.card-item hr{
  margin: 0px;
}

.card-item img{
  max-width: 200px;
}

.op-semilleros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.op-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-decoration: none !important;
  font-size: 20px;
  color: #666666;
  transition: 0.3s;
}

.op-link .fa-trash-can{
  transition: 0.3s;
}

.op-link:hover .fa-trash-can{
  color: #ff0000;
}

/*------------------------------------------------------------------
[ Modales]*/


.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  width: 70%;
  height: 70%;
  margin: 10% auto;
  border-radius: 5px;
}

#modal_crear_proyecto .modal-content, #modal_crear_evento .modal-content{
  height: max-content;
}

#modal_crear_proyecto .modal-content .container, #modal_crear_evento .modal-content .container{
  border: none;
  background: none;
}

.modal-content .container{
  width: 100%;
  max-height: 90%;
  overflow: auto;
  padding: 20px;
  border: #8585853b solid 1px;
  border-radius: 5px;
  background-color: #85858521;
}

.modal-content .form-close-container{
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal-content .form-modal-back{
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal-content .act-logo{
  object-fit: cover;
  margin-bottom: 10px;
  overflow: hidden;
}

.modal-content .form-title{
  display: flex;
  justify-content: center;
}

.signup-modal-content{
  width: max-content;
  height: min-content;
}

.signup-modal-content .modal-body{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-aux-button{
  position: absolute;
  font-size: 30px;
  color: #858585;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 45px;
  border-radius: 50px;
  height: 45px;
}

.close-modal{
  top: 25px;
  right: 5%;
}

.modal-back{
  top: 25px;
  left: 5%;
}

.modal-aux-button:hover{
  color: #242424b0;
  background-color: #66666671;
}

.modal-content .current-file{
  padding: 5px;
  text-align: center;
  font-family: 'Poppins-Medium';
  font-size: 15px;
}

.modal-content .current-file a{
  text-decoration: underline;
}

/*------------------------------------------------------------------
[ Semilleros view ]*/

section.semilleros{
  display: flex;
  flex-direction: row;
  height: calc(100% - 85px);
}

section.semilleros .modal-content .container{
  border: none;
  background: none;
}

/*-------------------------------------------------
[ Barra lateral navegación ]*/

.l-navbar{
  height: 100%;
  width: 120px;
  transition: .5s;
  padding: 0px;
  overflow: auto;
  margin: 0px !important;
}

.l-navbar .nav{
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}

.l-navbar .nav-options{
  height: 100%;
}

.l-navbar .active{
  color: #0d6d00;
}

.nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  transition: 0.3s;
  color: #ffffff;
  font-size: 20px;
}

.nav a:hover{
  color: #0d6d00;
}

.l-navbar .log-out{
  font-size: 25px;
  transform: scaleX(-1);
  color: #0d6d00;
}

.l-navbar .log-out:hover{
  color: #ff0000;
}

/*-------------------------------------------------
[ Contenidos semilleros ]*/

.components{
  padding: 20px;
  margin: 0px 15px;
  border-radius: 20px;
  width: 100%;
  overflow: auto;
}

.components .content .content-item-title{
  display: flex;
  margin-bottom: 40px;
  color: #ffffff;
  background: #051b003f;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.components .hidden{
  display: none;
}

.content-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.components table a{
  text-decoration: underline;
}
/*-------------------------------------------------
[ contenido dashboard ]*/

#content-dashboard .card{
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.219);
}

#content-dashboard .row{
  padding: 30px;
  height: calc(100% - 100px);
}

.widget-null{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.widget-null img{
  max-width: 100px;
  filter: invert(20%) sepia(100%) saturate(10%) hue-rotate(0deg);

}

.widget-null a{
  font-size: 20px;
}

.carousel-proy{
  display: flex;
  justify-content: center;
  font-family: 'Poppins-Medium';
  color: #666666;
  height: 10vh;
  overflow: auto;
  padding: 10px;
}

.owl-item{
  text-align: center;
  height: 100%;
  overflow: auto;
  background-color: #4141411e;
  border-radius: 25px;
}

.carousel-more{
  padding: 15px;
}

.carousel-more a{
  text-decoration: underline;
}

#content-dashboard .tabla-sems{
  overflow: auto;
  max-height: 20vh;
}

table{
  font-family: 'Poppins-Medium';
  color: #666666c9;
}

.opt-column{
  width: 120px;
  overflow: auto;
}

.opt-table{
  display: flex;
  height: 100%;
}

.table td, .table th{
  border-top: none;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
  position: relative;
  top: 4vh;
  left: 8%;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border: none;
  border-radius: 25px;
  display: flex;
  padding: 0 30px 0 68px;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.4s ease-in-out forwards;
  animation: anim-shadow 0.4s ease-in-out forwards;
}

.signup-input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.4s ease-in-out forwards;
  animation: anim-shadow 0.4s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  
  .icon-header img{
    max-width: 150px;
  }
  
}

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }


  .login100-form {
    width: 50%;
  }

  .icon-header img{
    max-width: 100px;
  }

  .card{
    max-height: 670px;
  }

  .dir{
    max-height: 470px;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
  
  .icon-header img{
    max-width: 200px;
  }
  
  .close-modal{
    position: initial;
  }

  .form-close-container{
    margin-top: 5px;
  }

  .modal-content{
    padding-top: 5px;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}

@media (max-width: 493px) {
  .logo-title{
    display: none;
  }

}

@media (max-width: 331px) {
  .logo-header img{
    max-width: 100px;
  }

  .dir{
    max-height: 380px;
  }
}

@media (max-height: 819px){
  
  .card{
    max-height: 450px;
  }
  
  .dir{
    max-height: 200px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}